body {
 margin: 0px;
 font-family: "Work Sans", sans-serif;
 color: #8c8c8c;
}

.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.h2 {
  background: #99ff33;
  opacity: 1;
}

.h22 {
  background: rgb(255, 255, 255);
  opacity: 1;
  transition: background 7s;
}


 .h2M span {
  background: #99ff33;
  opacity: 1;
}

.h22M span {
  background: rgb(255, 255, 255);
  opacity: 1;
  transition: background 7s;
}


/* Scrollbar: */

/* Width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8c8c8c;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}