.summaryOfChange {
    border: 1px solid #66cc00;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    text-align: left;
    margin: 20px 10px;
    padding: 8px 8px 8px 8px;
}

.summaryOfChange div {
    margin: 8px 4px;
}

.charCards {
    display: flex;
    flex-direction: row;
/* the justify-content here defines the spaces inbetween character-cards: */
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.wordSummary {
    margin: auto auto 15px auto;
}

@media screen and (min-width: 800px) {
    .summaryOfChange {
        flex: 1;
        order: 2;
        margin: 10px 10px;
    }
}