.tooltip {
    position: relative;
    display: inline-block;
  }

.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #ccff99;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: -10%;
    left: 43%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ccff99 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

textarea {
    /* border: 1px solid #66cc00; */
    border: none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin: 0px 15px;
    padding: 0px;
}

.textarea {
    border: 1px solid #66cc00;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin: 15px 15px;
}

@media screen and (min-width: 800px) {
    .textarea {
        flex: 1;
        order: 1;
        /* margin: 0px 0px 0px 20px; */
        /* border: 1px solid red; */
        margin: 0px 15px;
    }

    textarea {
        margin: 0px 15px;
        padding: 0px;
    }
}