button:disabled {
    background-color: #ccff99;
    color: #cccccc;
}

.button2 {
    border: 1px solid #ccc;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #66cc00;
    color: white;
    text-align: center;
    margin: 10px 4px;
    padding: 16px 15px 16px 15px;
    box-shadow: 1px 1px #ccc;
}

.button2Hover {
    border: 1px solid #ccc;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #ccff99;
    color: #8c8c8c;
    text-align: center;
    margin: 10px 4px;
    padding: 16px 15px 16px 15px;
    box-shadow: 1px 1px #ccc;
}