.mainContent {
    margin: 0px auto 20px auto;
}
    
@media screen and (min-width: 800px) {
    .mainContent {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1000px) {
    .mainContent {
        margin: 20px 85px 20px 85px;
    }
}