/* .checkboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
} */

.checkboxesInRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .checkboxes {
        margin: 0px 0px 20px 0px;
    }
}