.customChar input[type="text"] {
    /* height: 100px; */
    padding: 12px 20px 12px 20px;
}

.customChar input[type="submit"] {
    border: 1px solid #ccc;
    background-color: #66cc00;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 12px 20px 12px 20px;
    box-shadow: 1px 1px #ccc;
}

.customChar input[type="submit"]:hover {
    background-color: #ccff99;
    color: #8c8c8c;
}

.customChar input[type="submit"]:disabled {
        background-color: #ccff99;
        color: #cccccc;
}